<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gelida_Player.Properties.Settings" type="System.Configuration.IgnoreSectionHandler" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gelida_Player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <Gelida_Player.Properties.Settings>
            <setting name="OutputDev1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="InputDev1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OutputDev2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="InputDev2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Players" serializeAs="String">
                <value>2</value>
            </setting>
        </Gelida_Player.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Gelida_Player.Properties.Settings>
            <setting name="OutputDev1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="InputDev1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OutputDev2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="InputDev2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Players" serializeAs="String">
                <value>2</value>
            </setting>
        </Gelida_Player.Properties.Settings>
    </applicationSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data></configuration>
